@model restaurante1.Models.comanda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comanda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.facturacion.fkpk_id_comanda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.facturacion.fkpk_id_comanda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mesas.numero_mesa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mesas.numero_mesa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
