@model restaurante1.Models.mesas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mesas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.comensales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comensales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado_mesa.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado_mesa.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.numero_mesa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
